Checks: google-*,
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*

CheckOptions:
  - { key: readability-identifier-length.MinimumParameterNameLength, value: 2 }