[Unit]
Description=socks5 service

[Service]
After=network.target
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/boost_asio_socks5/boost_asio_socks5 --ssl_port 20801 --cert_path /opt/boost_asio_socks5/cert.pem --private_key_path /opt/boost_asio_socks5/private_key.pem --dh_key_path /opt/boost_asio_socks5/dh_key.pem

[Install]
WantedBy=multi-user.target
 
